@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "gilroyextrabold";

  src: url("../fonts/gilroyextrabold-webfont.woff2") format("woff2"),
  url("../fonts/gilroyextrabold-webfont.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "gilroylight";

  src: url("../fonts/gilroylight-webfont.woff2") format("woff2"),
  url("../fonts/gilroylight-webfont.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "open_sanslight";

  src: url("../fonts/opensans-light-webfont.woff2") format("woff2"),
  url("../fonts/opensans-light-webfont.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "open_sansregular";

  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
  url("../fonts/opensans-regular-webfont.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 40px 0 0 0;

  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-family: "Open Sans", Tahoma, sans-serif;
  letter-spacing: 0.15px;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*Стили для списков*/

.page-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

/*Стили для шрифтов*/

.page-font {
  font-size: 18px;
  line-height: 24px;
  font-family: "gilroyextrabold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

/*Стили для кнопок*/
.btn {
  display: block;
  width: 220px;
  min-height: 40px;
  padding: 8px 4px;

  text-align: center;
  color: #000000;

  background: transparent;
  background-image: url(../img/line-yellow.png);
  background-repeat: repeat-x;
  background-position: center;
  border: none;

  cursor: pointer;
}

.button.disabled,
.button:disabled {
  opacity: 0.5;

  cursor: default;
}

/*Стили для скрытых элементов для читалок*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;
}

/*Стили для Хедера*/

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navigation-wrapper {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 43px 60px 40px 60px;

  background-color: #f7e296;

  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-logo {
  position: absolute;
  top: -19px;
  left: 0;
  margin: 0 0 0 60px;
}

.header-logo a {
  display: block;
}

.header-logo img {
  width: 163px;
  height: 35px;
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.header-form {
  padding: 0 0 30px 0;

  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.header-form p {
  position: relative;

  margin: 0;
}

.header-form input {
  padding: 0 0 0 40px;

  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.header-form input:hover {
  opacity: 0.6;
}

.header-form input:focus {
  background-color: #f7e296;
  opacity: 1;
}

.header-form label {
  position: absolute;
  top: 8px;
  left: 3px;

  width: 16px;
  height: 16px;

  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.header-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 0 0 30px 16px;

  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-actions li {
  min-width: 0;
  padding: 0 10px 0 0;

  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}

.header-actions li:first-child {
  margin: 0 auto 0 0;
}

.header-actions-link {
  position: relative;

  display: block;
  padding: 0 0 0 30px;
}

.header-actions-enter::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 4px;

  width: 13px;
  height: 12px;

  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-actions-compare::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 10px;

  width: 10px;
  height: 10px;

  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-actions-cart::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 8px;

  width: 12px;
  height: 12px;

  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation-catalog > li {
  position: relative;

  padding: 10px 10px 0 0;
}

.site-navigation-link {
  display: block;
  padding: 0 30px 0 0;
}

.site-navigation-link::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 230px;

  width: 16px;
  height: 16px;

  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation-submenu {
  position: absolute;
  left: -60px;
  z-index: 4;

  display: none;
  min-width: 1160px;
  padding: 20px 0 34px 60px;

  line-height: 36px;

  background-color: #f7e296;
}

.site-navigation-catalog li:hover > .site-navigation-submenu,
.site-navigation-catalog li a:focus + .site-navigation-submenu {
  display: block;
}

.site-navigation-submenu li:first-child {
  position: relative;
}

.site-navigation-submenu li {
  width: 200px;
}

.submenu-item li {
  width: 180px;
}

.submenu-item {
  position: absolute;
  top: 0;
  left: 240px;
}

.site-navigation-submenu ul ul {
  left: 200px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  padding: 0 0 0 15px;

  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site-navigation li {
  width: 33%;
  min-width: 0;
  padding: 10px 5px;

  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.site-navigation a {
  position: relative;

  display: block;
}
.site-navigation-active::after {
  content: "";
  position: absolute;
  top: 112px;
  left: 0;
  z-index: 3;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-actions a,
.site-navigation-catalog a,
.site-navigation a,
.site-navigation-submenu a {
  color: rgba(0, 0, 0, 1);
}

.header-actions a:hover,
.header-actions a:focus,
.site-navigation-catalog a:hover,
.site-navigation-catalog a:focus,
.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation-submenu a:hover,
.site-navigation-submenu a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.header-actions a:active,
.site-navigation-catalog a:active,
.site-navigation a:active,
.site-navigation-submenu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a:hover.site-navigation-active,
.site-navigation a:focus.site-navigation-active {
  color: rgba(0, 0, 0, 1);

  cursor: default;
}

.header-actions a::before {
  opacity: 1;
}

.header-actions a:hover::before,
.header-actions a:focus::before {
  opacity: 0.6;
}

.header-actions a:active::before {
  opacity: 0.3;
}

/*Cтили для слайдера*/

.slider {
  padding: 0 0 50px 0;
}

.slider-list {
  position: relative;
}

.slider-item {
  display: none;
}

.slider-item::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;

  width: 100%;
  min-height: 112px;

  background-color: #f7e296;
}

.slider-item.slider-item-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-foto-wrapper {
  z-index: 2;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 489px;
  padding: 0 15px 0 0;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.slider-item:first-child img {
  width: 384px;
  height: 486px;
}

.slider-item:nth-child(2) img {
  width: 345px;
  height: 485px;
}

.slider-item:nth-child(3) img {
  width: 526px;
  height: 334px;
  box-sizing: content;
}

.slider-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 50%;
  padding: 0 0 0 20px;

  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.slider-item-number {
  position: absolute;
  top: 0;
  right: 46px;
  z-index: 2;

  margin: 0;

  font-size: 179px;
  line-height: 157px;
  font-weight: 800;
  letter-spacing: 1.8px;
  color: #ffffff;
}

.title-accent-light {
  z-index: 3;

  margin: 0;
  padding: 81px 0 18px;

  font-size: 47px;
  line-height: 56px;
  text-transform: none;
  letter-spacing: 0.5px;
  color: #000000;

  background: transparent;
}

.slider-item-text {
  margin: 0;
  padding: 0 70px 43px 0;

  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", sans-serif;
  text-transform: none;
  letter-spacing: 0.15px;
  color: #464646;
}

.btn-slider {
  margin: 0 0 32px 0;
}

.btn-slider:hover,
.btn-slider:focus {
  background-color: #f0c52e;
}

.btn-slider:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-feature-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 17px 0 0 0;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider-item-value {
  min-width: 0;
  padding: 0 20px 0 0;

  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
}

.slider-item-value:nth-child(2) {
  -ms-flex-preferred-size: 140px;
  flex-basis: 140px;
}

.slider-item-value li:first-of-type {
  padding: 0 0 7px 0;

  font-size: 36px;
  line-height: 48px;
  font-family: "gilroylight", sans-serif;
  text-transform: none;
  letter-spacing: 0.4px;
}

.slider-item-value li:last-of-type {
  font-size: 13px;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
  text-transform: none;
  letter-spacing: 0.13px;
  color: #464646;

  background-color: #ffffff;
}

.slider-button-list {
  position: absolute;
  top: 320px;
  right: 80px;
  z-index: 10;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 80px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slider-button {
  position: relative;

  width: 12px;
  height: 12px;
  padding: 0;

  background: transparent;
  border: 1px solid #000000;
  border-radius: 50%;

  cursor: pointer;
}

.slider-button-active::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;

  width: 4px;
  height: 4px;

  border: 1px solid #000000;
  border-radius: 50%;
}

/*Стили блока популярные товары*/

.popular-goods {
  margin: 54px 0 0 0;
  padding: 0 0 40px 0;
}

.popular-goods-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 -40px;

  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popular-goods-item {
  min-width: 0;
  margin: 0 0 40px 40px;

  background-color: #f7e296;

  -ms-flex-preferred-size: 160px;
  flex-basis: 160px;
}

.popular-goods-item a {
  display: block;
}

.popular-goods-foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 160px;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.popular-goods-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.popular-goods-caption {
  margin: 0;
  padding: 33px 0 0 0;

  text-transform: none;
  letter-spacing: 0.18px;
  color: #000000;

  background-color: #ffffff;
}

.popular-goods-item:hover,
.popular-goods-item a:focus {
  background-color: #f0c52e;
}

.popular-goods-item:active {
  opacity: 0.3;
}

/*Стили для блока услуги*/

.services {
  margin: 100px 0 0 0;

  background-color: #e5e5e5;
}

.services-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 289px;
  padding: 0 60px 69px 0;
}

.services-list {
  position: relative;
  top: -19px;

  display: inline-block;
  vertical-align: top;
  padding: 0 124px 0 0;
}

.services-list li {
  padding: 0 0 25px 0;
}

.services-list::after {
  content: "";
  position: absolute;
  top: -80px;
  right: 0;

  width: 7px;
  height: 319px;

  background-color: #000000;
}

.btn-services {
  position: relative;

  width: 160px;
}

.btn-services::before {
  content: "";
  position: absolute;
  top: 0;
  right: -120px;
  z-index: 2;

  display: none;
  width: 120px;
  height: 40px;

  background-color: #000000;
}

.btn-services:hover,
.btn-services:focus {
  background-color: #f0c52e;
}

.btn-services:active,
.btn-services:focus {
  color: #f7e184;

  background-color: #000000;
  background-image: none;
}

.btn-services:active::before,
.btn-services:focus::before {
  display: block;
}

.services-column {
  position: relative;

  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 0 106px;
}

.services-column.services-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-column h3 {
  position: relative;
  top: -25px;
  left: 11px;

  width: 300px;
}

.title {
  margin: 0;

  font-size: 47px;
  line-height: 48px;
  text-transform: none;
  letter-spacing: 0.47px;
  color: #000000;
}

.services-text {
  width: 460px;
  margin: 0;
  padding: 5px 10px 5px 10px;
}

.services-logo {
  position: absolute;
  top: -15px;
  right: -278px;

  min-width: 170px;
}

.logo-delivery img {
  width: 136px;
  height: 164px;
}

.logo-warranty img {
  width: 171px;
  height: 194px;
}

.logo-credit img {
  width: 156px;
  height: 186px;
}

/*Стили блока партнеров*/

.partners {
  margin: 94px 0 0 0;
  padding: 0 0 30px 0;
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 -40px;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners-item {
  margin: 0 0 0 40px;
  padding: 0 0 20px 0;
}

.partners-item a {
  display: block;
  width: 260px;
  height: 100px;
}

.partners-item img {
  opacity: 0.2;

  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.partners-item img:hover,
.partners-item a:focus img {
  opacity: 1;

  -webkit-filter: none;
          filter: none;
}

/*Стили блоков О нас и Контакты*/

.communication {
  margin: 43px 0 0 0;
  padding: 0 0 82px 0;
}

.communication-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 53px 0 0 0;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-wrapper {
  padding: 0 102px 0 0;
}

.about-wrapper p {
  padding: 0 0 30px 0;
}

.contacts-wrapper {
  padding: 0 0 0 20px;
}

.contacts-wrapper p {
  padding: 0 0 39px 0;
}

.contacts-wrapper a {
  background-color: #e5e5e5;
}

.about-wrapper,
.contacts-wrapper {
  width: 50%;

  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title-about,
.title-contacts {
  position: relative;

  margin: 0 0 42px;
}

.title-about::before {
  content: "";
  position: absolute;
  top: -53px;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.title-contacts::before {
  content: "";
  position: absolute;
  top: -53px;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about-text,
.contacts-text {
  margin: 0;

  letter-spacing: 0;
}

.about-list {
  display: inline-block;
  vertical-align: top;
  width: 260px;
  margin: 0;
  padding: 36px 36px 54px 36px;

  font-size: 16px;
  line-height: 40px;
  text-transform: none;
  letter-spacing: 0;
  list-style: none;
  color: #000000;
}

.about-list li {
  position: relative;
}

.about-list li::before {
  content: "";
  position: absolute;
  top: 16px;
  left: -35px;

  width: 8px;
  height: 8px;

  border: 2px solid #dddddd;
  border-radius: 50%;
}

.contacts-actions-link {
  display: block;
  width: 560px;
  height: 222px;
  margin: 0 0 60px 0;
}

.contacts-wrapper img {
  width: 560px;
  height: 222px;
}

.communication-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.communication-list li:first-child {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.communication-list li:last-child {
  margin: 0 0 0 20px;
}

.btn-communication {
  width: 260px;
}

.btn-communication:hover,
.btn-communication:focus {
  background-color: #f0c52e;
}

.btn-communication:active {
  color: rgba(0, 0, 0, 0.3);
}

/*Стили футера*/

.footer {
  padding: 0 0 67px 0;

  letter-spacing: 0;
  color: #ffffff;

  background-color: #464646;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-logo-active {
  position: relative;

  margin: 5px 0 0 0;
}

.footer-logo-active img {
  width: 163px;
  height: 35px;
}

.footer-logo-active a {
  position: relative;

  display: block;
  width: 163px;
  height: 35px;
}

.footer-logo-active a::before {
  content: "";
  position: absolute;
  top: 172px;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
  opacity: 1;
}

.footer-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;

  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.footer-user-actions {
  padding: 60px 0 0 0;
}

.footer-actions li {
  min-width: 0;

  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}

.footer-actions-link {
  position: relative;

  padding: 0 0 0 30px;
}

.inner-page .footer-actions li:first-child {
  margin: 0;
  padding: 0;

  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
}

.inner-page .footer-actions li:not(:first-child) {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}

.inner-page .footer-actions li:nth-child(2) {
  margin: 0 auto 0 0;
  padding: 0;
}

.inner-page .footer-actions li {
  padding: 0 20px 0 0;
}

.inner-page .footer-actions li:last-child {
  padding: 0;
}

.inner-page .footer-actions-user::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 5px;

  width: 13px;
  height: 12px;

  background-image: url(../img/user2.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.inner-page .footer-actions-enter {
  padding-left: 0;

  color: rgba(255, 255, 255, 0.3);
}

.inner-page .footer-actions-enter::before {
  display: none;
}

.footer-actions-enter::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 5px;

  width: 13px;
  height: 12px;

  background-image: url(../img/user2.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-actions-compare::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 11px;

  width: 10px;
  height: 10px;

  background-image: url(../img/compare2.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-actions-cart::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 9px;

  width: 12px;
  height: 12px;

  background-image: url(../img/cart2.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-actions a {
  line-height: 36px;
  letter-spacing: 0.15px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-actions a:hover,
.footer-actions a:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-actions a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 90px 0 14px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-navigation li {
  width: 33%;
  min-width: 0;
  padding: 10px 5px;

  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.footer-navigation-item a:hover,
.footer-navigation-item a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-navigation-item a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-contacts {
  padding: 20px 0 0 0;

  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.footer-contacts p {
  width: 25%;
  min-width: 0;
  margin: 0;
  padding: 10px 5px;

  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.footer-contacts p:last-child {
  -ms-flex-preferred-size: 15%;
  flex-basis: 15%;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
      flex: 1;
}

.footer-social li:first-child {
  margin: 0 0 0 50px;
}

.footer-social li {
  padding: 0 22px 0 0;
}

.footer-social a {
  display: block;
  width: 32px;
  height: 32px;

  opacity: 0.3;
}

.social-button:hover,
.social-button:focus {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.footer-copyright {
  padding: 51px 0 0 0;

  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.btn-html-academy {
  display: block;
  width: 27px;
  height: 35px;
}

.footer-logo-active a:hover img,
.footer-logo-active a:focus img,
.footer-actions a:hover::before,
.footer-actions a:focus::before,
.btn-html-academy:hover,
.btn-html-academy:focus {
  opacity: 0.6;
}

.footer-logo-active a:active img,
.footer-actions a:active::before,
.btn-html-academy:active {
  opacity: 0.3;
}

/*Cтили страницы каталога*/

/*Хедер внутренней*/

.inner-page .header-actions li:first-child {
  margin: 0;
  padding: 0;

  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
}

.inner-page .header-actions li:not(:first-child) {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}

.inner-page .header-actions li:nth-child(2) {
  margin: 0 auto 0 0;
  padding: 0;
}

.inner-page .header-actions li {
  padding: 0 20px 0 0;
}

.inner-page .header-actions li:last-child {
  padding: 0;
}

.inner-page .header-actions-user::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 4px;

  width: 13px;
  height: 12px;

  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.inner-page .header-actions-enter {
  padding-left: 0;

  color: rgba(0, 0, 0, 0.3);
}

.inner-page .header-actions-enter::before {
  display: none;
}

.breadcrumbs-wrapper {
  padding: 20px 0 20px 0;
}

.inner-page .title-page {
  margin: 18px 0 0 59px;
}

.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 23px 0 0 59px;

  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breadcrumbs-list li:last-child,
.breadcrumbs-list li:last-child:hover,
.breadcrumbs-list li:last-child:active {
  margin-right: 0;

  opacity: 0.3;
}

.breadcrumbs-active::after {
  display: none;
}

.breadcrumbs-item {
  position: relative;

  margin: 0 37px 0 0;

  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: #000000;

  opacity: 0.3;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -19px;

  width: 4px;
  height: 7px;

  background-image: url(../img/nav-arrow.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.breadcrumbs-item a {
  color: #000000;

  background: #ffffff;
}

.breadcrumbs-item:hover {
  opacity: 0.6;
}

.breadcrumbs-item:active {
  opacity: 0.1;
}

/*Cтили блока с фильтрами и сортировки*/

.filters-catalog {
  margin: 26px 0 0 0;
}

.filters-catalog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters-color1 {
  background-color: #dbdbdb;

  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

.filters-color2 {
  background-color: #ebebeb;

  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

.filters-color3 {
  background-color: #efefef;

  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

.filters-color4 {
  padding: 0 0 38px 0;

  background-color: #ffffff;

  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

.column-filter-title,
.column-filter {
  width: 328px;
  margin: 0 0 0 auto;
  padding: 0 0 0 58px;
}

.column-filter-title h3 {
  padding: 23px 0 23px 4px;
}

.column-sorting-title,
.column-sorting {
  width: 832px;
  padding: 0 0 0 72px;
}

.filter-title {
  margin: 0;

  font-size: 16px;
  letter-spacing: 3.2px;
  color: #000000;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;

  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sorting-list li:not(:last-child),
.sorting-list li:not(:nth-last-child(2)) {
  min-width: 0;

  -ms-flex-preferred-size: 160px;
  flex-basis: 160px;
}


.sorting-list li:nth-last-child(2) {
  margin: 0 0 0 auto;
  padding: 0 20px 0 0;

  -ms-flex-preferred-size: 30px;
  flex-basis: 30px;
}

.sorting-list li:last-child {
  -ms-flex-preferred-size: 30px;
  flex-basis: 30px;
}

.sorting-item a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: "open_sansregular", sans-serif;
  text-transform: none;
  letter-spacing: 0;
  color: #000000;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-item a:hover,
.sorting-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-item a:active {
  color: rgba(0, 0, 0, 1);
}

.sorting-up {
  background-image: url(../img/icon-up-dir.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sorting-down {
  background-image: url(../img/icon-down-dir.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sorting-up,
.sorting-down {
  width: 11px;
  height: 10px;

  background-color: transparent;
  border: none;
  opacity: 0.2;
}

.sorting-up:hover,
.sorting-down:hover,
.sorting-up:focus,
.sorting-down:focus {
  opacity: 0.4;
}

.sorting-up:active,
.sorting-down:active {
  opacity: 1;
}

.options {
  width: 200px;
  margin: 69px 0 0 0;
}

.options fieldset {
  border: none;
}

.options-price {
  margin: 0;
  padding: 0;
}

.options-price legend {
  position: relative;

  padding: 12px 0 25px;

  text-transform: none;
  letter-spacing: 0.18px;
  color: #000000;
}

.options-price legend::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;

  width: 201px;
  height: 2px;

  background-color: #000000;
}

.options-price-wrapper {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 59px 0;
}

.options-slider {
  z-index: 1;

  -webkit-box-shadow: 0 2px 0 0 #dadada;
          box-shadow: 0 2px 0 0 #dadada;
  width: 20px;
  height: 20px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
}

.options-slider:focus,
.options-slider:hover {
  -webkit-box-shadow: 0 0 0 2px #efefef,
  0 0 0 3px #0a83f4;
          box-shadow: 0 0 0 2px #efefef,
  0 0 0 3px #0a83f4;

  outline: none;
}

.options-slider:active {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.options-left-slider {
  margin: 0 89px 0 0;
}

.options-line {
  position: absolute;
  top: 10px;
  left: 0;

  width: 201px;
  height: 2px;

  background-color: #91c92f;
}

.options-colors {
  margin: 0;
  padding: 0;
}

.options-colors legend {
  position: relative;

  padding: 12px 0 18px;

  text-transform: none;
  letter-spacing: 0.18px;
  color: #000000;
}

.options-colors legend::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;

  width: 201px;
  height: 2px;

  background-color: #000000;
}

.options-colors ul {
  padding: 0 0 31px 0;
}

.options-bt {
  margin: 0;
  padding: 0;
}

.options-bt legend {
  position: relative;

  padding: 12px 0 18px;

  text-transform: none;
  letter-spacing: 0.18px;
  color: #000000;
}

.options-bt legend::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;

  width: 201px;
  height: 2px;

  background-color: #000000;
}

.options-bt ul {
  padding: 0 0 31px 0;
}

.filter-item label {
  position: relative;

  display: block;
  width: 200px;
  padding: 0 0 0 40px;

  font-size: 14px;
  line-height: 40px;
  font-family: "open_sanslight", sans-serif;
  text-transform: none;
  letter-spacing: 0.14px;
  color: #000000;

  background-color: #efefef;

  cursor: pointer;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;

  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 23px;

  border: 2px solid #000000;
  border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 5px;

  display: inline-block;
  vertical-align: middle;
  -webkit-box-shadow: inset 1px -2px 1px 0 #ffffff,
  3px 3px 1px -1px #ffffff;
          box-shadow: inset 1px -2px 1px 0 #ffffff,
  3px 3px 1px -1px #ffffff;
  width: 20px;
  height: 10px;

  border-bottom: 4px solid #000000;
  border-left: 4px solid #000000;

  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox:checked:hover + label::before,
.filter-input-checkbox:checked:hover + label::after,
.filter-input-checkbox:focus + label::after {
  opacity: 0.6;
}

.filter-input-checkbox + label::before,
.filter-input-checkbox + label::after,
.filter-input-checkbox + label:active::before,
.filter-input-checkbox:checked:active + label::after,
.filter-input-checkbox:checked:active + label::before {
  opacity: 1;
}

.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:checked:focus + label::before {
  -webkit-box-shadow: 0 0 0 4px #ffffff,
  0 0 0 5px #0a83f4;
          box-shadow: 0 0 0 4px #ffffff,
  0 0 0 5px #0a83f4;

  opacity: 0.6;
}

.filter-input-checkbox:disabled + label,
.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:checked:disabled + label::before {
  opacity: 0.25;

  cursor: default;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;

  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;

  border: 4px solid #000000;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 7px;

  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 9px;

  border: 5px solid #000000;
  border-radius: 50%;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:hover::after,
.filter-input-radio:focus + label::after {
  opacity: 0.6;
}

.filter-input-radio + label:active::before,
.filter-input-radio:checked:active + label::after,
.filter-input-radio:checked:active + label::before {
  opacity: 1;
}

.filter-input-radio:focus + label::before {
  -webkit-box-shadow: 0 0 0 2px #ffffff,
  0 0 0 3px #0a83f4;
          box-shadow: 0 0 0 2px #ffffff,
  0 0 0 3px #0a83f4;

  opacity: 0.6;
}

.filter-input-radio:disabled + label,
.filter-input-radio:disabled + label::before,
.filter-input-radio:checked:disabled + label::before {
  opacity: 0.25;

  cursor: default;
}

.btn-options {
  width: 200px;
}

.btn-options:hover,
.btn-options:focus {
  background-color: #f0c52e;
}

.btn-options:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 69px 0 0 -40px;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog-list-item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0 0 0 40px;
  padding: 0 0 46px 0;

  -ms-flex-preferred-size: 360px;
  flex-basis: 360px;
}

.catalog-list-item:last-child {
  padding: 0 0 35px 0;
}

.catalog-list-item img {
  width: 360px;
  height: 380px;

  background-color: #efefef;
  border: none;
}

.catalog-title-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 32px 0 0 0;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-name {
  min-width: 0;
  margin: 0;

  text-transform: none;
  letter-spacing: 0.18px;
  color: #000000;

  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
}

.item-name p,
.item-price p {
  margin: 0;
  padding: 0;
}

.item-price {
  min-width: 0;
  padding: 0 0 0 10px;

  font-size: 16px;
  line-height: 24px;
  font-family: "gilroylight", sans-serif;
  text-transform: none;
  letter-spacing: 0.16px;
  color: #464646;

  background-color: #ffffff;

  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}

/*Стили для карточки покупки*/

.flag-new::before {
  content: "NEW";
  position: absolute;
  top: 29px;
  right: 27px;

  width: 60px;
  height: 60px;
  padding: 15px 0 0 0;

  font-size: 14px;
  line-height: 24px;
  font-family: "gilroyextrabold", sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.7px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.2;
}

.catalog-actions {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
  width: 360px;
  height: 380px;

  background-color: rgba(238, 238, 238, 0.7);
}

.catalog-list-item:hover .catalog-actions,
.catalog-list-item:focus .catalog-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  cursor: pointer;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
}

.btn-catalog-order:hover,
.catalog-actions .btn-catalog-order:focus {
  background-color: #f0c52e;
}

.btn-catalog-order:active {
  color: rgba(0, 0, 0, 0.3);
}

.btn-catalog-compare:hover,
.catalog-actions .btn-catalog-compare:focus {
  color: rgba(0, 0, 0, 1);
}

.btn-catalog-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.btn-catalog-order {
  margin: 0 0 20px 0;
}

.btn-catalog-compare {
  display: block;
}

.btn-catalog-compare {
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.13px;
  color: #000000;
  color: rgba(0, 0, 0, 0.5);
}

.catalog-pagination {
  padding: 0 0 38px 0;
}

.catalog-pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  font-size: 16px;
  letter-spacing: 3.2px;

  background-color: #ebebeb;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.catalog-pagination-item .button {
  width: 125px;
  min-height: 70px;
  padding: 5px 10px;

  text-transform: uppercase;
  letter-spacing: 3.2px;

  background-color: transparent;
  border: none;
}

.catalog-pagination-item .button:hover,
.catalog-pagination-item .button:focus {
  background-color: #d9d9d9;
}

.catalog-pagination-item .button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d9d9d9;
}

.catalog-pagination-item:first-child {
  margin-right: auto;
}

.catalog-pagination-item:last-child {
  margin-left: auto;
}

.catalog-pagination-item a {
  display: block;
  padding: 5px 13px 5px 15px;

  color: rgba(0, 0, 0, 0.3);
  ;
}

.catalog-pagination-item a:hover,
.catalog-pagination-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-pagination-item a:active,
.catalog-pagination-active {
  color: rgba(0, 0, 0, 1);
}

/*стили для модальных окон*/

@-webkit-keyframes departure {
  0% {
    -webkit-transform: translateX(-200%) translateY(-50%);
            transform: translateX(-200%) translateY(-50%);
  }

  70% {
    -webkit-transform: translateX(-30%) translateY(-50%);
            transform: translateX(-30%) translateY(-50%);
  }

  90% {
    -webkit-transform: translateX(-70%) translateY(-50%);
            transform: translateX(-70%) translateY(-50%);
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes departure {
  0% {
    -webkit-transform: translateX(-200%) translateY(-50%);
            transform: translateX(-200%) translateY(-50%);
  }

  70% {
    -webkit-transform: translateX(-30%) translateY(-50%);
            transform: translateX(-30%) translateY(-50%);
  }

  90% {
    -webkit-transform: translateX(-70%) translateY(-50%);
            transform: translateX(-70%) translateY(-50%);
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}

@-webkit-keyframes turn {
  0%,
  100% {
    -webkit-transform: rotate(0deg) translateX(-50%) translateY(-50%);
            transform: rotate(0deg) translateX(-50%) translateY(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-2deg);
            transform: translateX(-50%) translateY(-50%) rotate(-2deg);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(2deg);
            transform: translateX(-50%) translateY(-50%) rotate(2deg);
  }
}

@keyframes turn {
  0%,
  100% {
    -webkit-transform: rotate(0deg) translateX(-50%) translateY(-50%);
            transform: rotate(0deg) translateX(-50%) translateY(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-2deg);
            transform: translateX(-50%) translateY(-50%) rotate(-2deg);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(2deg);
            transform: translateX(-50%) translateY(-50%) rotate(2deg);
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;

  display: none;
  -webkit-box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
          box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
  width: 960px;

  background-color: #ffffff;

  -webkit-transform: translate(-50%) translateY(-50%);
      -ms-transform: translate(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.modal-open {
  display: block;

  -webkit-transition: ease-out;
       -o-transition: ease-out;
          transition: ease-out;
  -webkit-animation-name: departure;
          animation-name: departure;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;

  will-change: transform;
}

.modal-error {
  -webkit-animation-name: turn;
          animation-name: turn;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;

  will-change: transform;
}

.modal-letter {
  padding: 80px 100px;
}

.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 3;

  width: 55px;
  height: 55px;

  font-size: 0;

  background: transparent;
  background-image: url(../img/modal-close.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  border-radius: 50%;
  opacity: 0.5;

  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.letter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal-map p {
  margin: 0;
}

.letter-form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 35px 0;

  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.letter-form p:first-child {
  margin: 0 40px 0 0;
}

.letter-form p:last-of-type {
  margin: 0 0 40px 0;

  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.letter-form label {
  margin: 0 0 10px 0;

  font-weight: 800;
  text-transform: none;
  letter-spacing: 0;
  color: #000000;

  background-color: #ffffff;
}

.letter-form input,
.letter-form textarea {
  padding: 15px 0 15px 15px;

  color: #464646;

  background-color: #f2f2f2;
  border: none;
  opacity: 0.5;
}

.letter-form textarea {
  padding-bottom: 0;

  -ms-flex-preferred-size: 155px;
      flex-basis: 155px;
}

.btn-letter-send {
  width: 200px;
}

.letter-form input,
.letter-form textarea,
.letter-form input:focus,
.letter-form textarea:focus,
.letter-form input:invalid:not(:placeholder-shown),
.letter-form textarea:invalid:not(:placeholder-shown) {
  font-size: 14px;
  line-height: 18px;
  font-family: "open_sansregular", sans-serif;
}

.letter-form input:hover,
.letter-form textarea:hover {
  background-color: #eaeaea;
  opacity: 0.8;
}

.letter-form input:focus,
.letter-form textarea:focus {
  color: #000000;

  background-color: #ffffff;
  opacity: 1;
  outline: 3px solid #f7e296;
}

.letter-form input:invalid:not(:placeholder-shown),
.letter-form textarea:invalid:not(:placeholder-shown) {
  color: #464646;

  background-color: #f6dada;
  opacity: 0.5;
}

.btn-letter-send:hover,
.btn-letter-send:focus {
  background-color: #f0c52e;
}
